**/__pycache__
*.env
*.pyc
*.pyo
*.pyd
*.pickle
*.csv
.git
.gitignore
.dockerignore
.cache
.spyproject

# Ignore the results of the tests so that the docker image can be tested from scratch
test/results/*

# Ignore powershell files
*.ps1